<!-- <div class="container">
  <div class="header">
  <nav>
    <button routerLink="/home" routerLinkActive="active">Home</button>
    <button routerLink="/program" routerLinkActive="active">Program</button>
  </nav>
  </div>
</div> -->
<!-- 
<div>
  <iframe width="420" height="315"
  src="https://www.youtube.com/embed/kOatEjqtsxk&list=PLfyWdpsiUiPC7bHmDDDM6gGgfo3mgMCAC&index=7"
  allowfullscreen  ></iframe>

   <iframe [src]='safeURL' width="560" height="315" frameborder="0" allowfullscreen></iframe> -->
<!-- </div> --> 


<iframe  width="660" height="415" 
src="https://www.youtube.com/embed/n36qwMkM3S8?si=tobxZSV20Y5-AjHn" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>